{% extends 'layout.html' %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script type="text/javascript">

    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });

    scanner.addListener('scan', function (content) {

    $.ajax({
        method: "POST",
        url: "/boleto",
        data: content
    })
    .done(function(msg){
          alert('Pagamento realizado com sucesso');
     })
     .fail(function(jqXHR, textStatus, msg){
          alert(msg);
     }); ;

    });

    Instascan.Camera.getCameras().then(function (cameras) {

      if (cameras.length > 0) {

        scanner.start(cameras[0]);

      } else {

        console.error('No cameras found.');

      }

    }).catch(function (e) {

      console.error(e);

    });

</script>
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Para fazer o pagamento do boleto aproxime o QRcode.</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Boleto</a></li>
                                    <li class="breadcrumb-item active">Home</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                <!-- /# column -->
                </div>
            </div>
        </div>
        <section id="main-content">
<div class="row">
    <div class="col-lg-12">
            <video id="video" width="800" height="600" autoplay></video>
            {% if error %}
                <p class="error"><strong>Erro: </strong>{{ error }}</p>
            {% endif %}
            <script>
                // Grab elements, create settings, etc.
var video = document.getElementById('video');

// Get access to the camera!
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // Not adding `{ audio: true }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        //video.src = window.URL.createObjectURL(stream);
        video.srcObject = stream;
        video.play();
    });
}
            </script>
    </div>
</div>

            
    
        </section>
        </div>
</div>

{% endblock %}