{% extends 'layout.html' %}
{% block body %}
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Extrato</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Extrato</a></li>
                                <li class="breadcrumb-item active">Home</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card text-center">
                            <div class="m-t-10">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Data</th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Descrição</th>
                                            <th scope="col">Valor</th>
                                        </tr>
                                    </thead>
                                    {% for item in dictExtract %}
                                        <tbody>
                                            <tr>
                                                <td>{{ item.CreatedAt }}</td>
                                                <td>{{ item.Type }}</td>
                                                <td>{{ item.Desc }}</td>
                                                {% if item.Amount > 0 %}
                                                    <td style="color:rgb(10, 250, 10);">{{ item.Amount }}</td>
                                                {% else %}
                                                    <td style="color:red;">{{ item.Amount }}</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>           
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>2019 © QuataBanking. - <a href="#">www.quatabanking.com</a></p>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}