<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>BTG wallet</title>

        <!-- ================= Favicon ================== -->
        <!-- Standard -->
        <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
        <!-- Retina iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
        <!-- Retina iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
        <!-- Standard iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
        <!-- Standard iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

        <!-- Styles -->
        <link href="{{ url_for('static', filename='css/lib/weather-icons.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/lib/owl.carousel.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/lib/owl.theme.default.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/lib/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/lib/themify-icons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/lib/menubar/sidebar.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/lib/helper.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>

    <body>
        <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
            <div class="nano">
                <div class="nano-content">
                    <div class="logo"><a href="/"><!-- <img src="assets/images/logo.png" alt="" /> --><span>BTG wallet</span></a></div>
                    <ul>
                        <li class="label">Home</li>
                        <li class="active"><a class="sidebar-sub-toggle"><i class="ti-home"></i> Carteira <span class="badge badge-primary"></span> <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a href="/">Saldos e Extratos</a></li>
                                <li><a href="/">Pagamentos</a></li>
                                <li><a href="/">Transferências</a></li>  
                                <li><a href="/">Empréstimos</a></li>
                                <li><a href="/">Auto Investimento</a></li>    
                            </ul>
                        </li>
                        <li><a><i class="ti-close"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /# sidebar -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-left">
                            <div class="hamburger sidebar-toggle">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="float-right">
                            <ul>
                                <li class="header-icon dib"><i class="ti-bell"></i>
                                    <div class="drop-down">
                                        <div class="dropdown-content-heading">
                                            <span class="text-left">Nenhuma notificação</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="header-icon dib"><i class="ti-email"></i>
                                    <div class="drop-down">
                                        <div class="dropdown-content-heading">
                                            <span class="text-left">Mensagens</span>
                                            <a href="/"><i class="ti-pencil-alt pull-right"></i></a>
                                        </div>
                                        <div class="dropdown-content-body">
                                            <ul>
                                                    <a href="/">
                                                <div class="notification-content">
                                                    <div class="notification-text">0 novas mensagens</div>
                                                </div>
                                            </a>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="header-icon dib"><span class="user-avatar">Joaquim <i class="ti-angle-down f-s-10"></i></span>
                                    <div class="drop-down dropdown-profile">
                                        <div class="dropdown-content-body">
                                            <ul>
                                                <li><a href="/"><i class="ti-user"></i> <span>Perfil</span></a></li>
                                                <li><a href="/"><i class="ti-email"></i> <span>Inbox</span></a></li>
                                                <li><a href="/"><i class="ti-settings"></i> <span>Configurações</span></a></li>
                                                <li><a href="/"><i class="ti-power-off"></i> <span>Sair</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 p-r-0 title-margin-right">
                            <div class="page-header">
                                <div class="page-title">
                                    <h1>Olá, <span>bem vindo a BTG wallet</span></h1>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-4 p-l-0 title-margin-left">
                            <div class="page-header">
                                <div class="page-title">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Carteira</a></li>
                                        <li class="breadcrumb-item active">Home</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->
                    <section id="main-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="stat-widget-two">
                                        <div class="stat-content">
                                            <div class="stat-text">Saldo </div>
                                            <div class="stat-digit"> <i class="fa fa-usd"></i> Valor a ser definido</div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success w-100" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="stat-widget-two">
                                        <div class="stat-content">
                                            <div class="stat-text">Gasto do dia</div>
                                            <div class="stat-digit"> <i class="fa fa-usd"></i>650</div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger w-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /# card -->
                            </div>
                            <!-- /# column -->
                        </div>
                        <!-- /# row -->


                        <!-- <div class="row"> -->
                            <!-- column -->
                            <!-- <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Sales Overview</h4>
                                        <div id="morris-bar-chart"></div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- column -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card text-center">
                                    <div class="m-t-10">
                                        <p>Feedback financeiro</p>
                                        <h5>385 transações bancárias durante o mês</h5>
                                    </div>
                                    <div class="widget-card-circle pr m-t-20 m-b-20" id="info-circle-card">
                                        <i class="ti-control-shuffle pa"></i>
                                    </div>
                                    <ul class="widget-line-list m-b-15">
                                        <li class="border-right">92% <br><span class="color-success"><i class="ti-hand-point-up"></i> Positivo</span></li>
                                        <li>8% <br><span class="color-danger"><i class="ti-hand-point-down"></i>Negativo</span></li>
                                    </ul>
                                </div>
                            </div>
                        
                        <!-- </div> -->
                            <!-- /# column -->
                        <!-- /# card -->
                            <!-- /# column -->
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-title">
                                        <h4>Dividendos </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Carteira</th>
                                                        <th>Descrição</th>
                                                        <th>Valor</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Lew Shawon</td>
                                                        <td><span>Dell-985</span></td>
                                                        <td><span>456 pcs</span></td>
                                                        <td><span class="badge badge-success">Feito</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lew Shawon</td>
                                                        <td><span>Asus-565</span></td>
                                                        <td><span>456 pcs</span></td>
                                                        <td><span class="badge badge-warning">Pendente</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>lew Shawon</td>
                                                        <td><span>Dell-985</span></td>
                                                        <td><span>456 pcs</span></td>
                                                        <td><span class="badge badge-success">Feito</span></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Lew Shawon</td>
                                                        <td><span>Asus-565</span></td>
                                                        <td><span>456 pcs</span></td>
                                                        <td><span class="badge badge-warning">Pendente</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="footer">
                                    <p>2019 © BTG wallet primeiro desafio. - <a href="#">www.btgwallet.com</a></p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- jquery vendor -->
        <script src="static/js/lib/jquery.min.js"></script>
        <script src="static/js/lib/jquery.nanoscroller.min.js"></script>
        <!-- nano scrstatic/oller -->
        <script src="static/js/lib/menubar/sidebar.js"></script>
        <script src="static/js/lib/preloader/pace.min.js"></script>
        <!-- sidebar static/-->
        <script src="static/js/lib/bootstrap.min.js"></script>

        <!-- bootstrastatic/p -->

        <script src="static/js/lib/circle-progress/circle-progress.min.js"></script>
        <script src="static/js/lib/circle-progress/circle-progress-init.js"></script>

        <!-- <script src="assets/js/lib/morris-chart/raphael-min.js"></script>
        <script src="assets/js/lib/morris-chart/morris.js"></script>
        <script src="assets/js/lib/morris-chart/morris-init.js"></script> -->

        <!--  flot-chart js -->
        <!-- <script src="assets/js/lib/flot-chart/jquery.flot.js"></script>
        <script src="assets/js/lib/flot-chart/jquery.flot.resize.js"></script>
        <script src="assets/js/lib/flot-chart/flot-chart-init.js"></script> -->
        <!-- // flot-chart js -->


        <!-- <script src="assets/js/lib/vector-map/jquery.vmap.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/jquery.vmap.min.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.world.js"></script> -->
        <!-- scripit init -->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.algeria.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.argentina.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.brazil.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.france.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.germany.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.greece.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.iran.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.iraq.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.russia.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.tunisia.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.europe.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/country/jquery.vmap.usa.js"></script> -->
        <!-- scripit init-->
        <!-- <script src="assets/js/lib/vector-map/vector.init.js"></script> -->

        <!-- <script src="assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
        <script src="assets/js/lib/weather/weather-init.js"></script>
        <script src="assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
        <script src="assets/js/lib/owl-carousel/owl.carousel-init.js"></script> -->
        <!-- <script src="assets/js/scripts.js"></script> -->
        <!-- scripit init-->

    </body>

</html>
